/*svg_other*/

.curve_bg{}

.curve_bg img{width: 100%;}

/*end*/

.tireles_svg_up {

    /*position: absolute;*/

    /*top: 0;*/

    left: 0;

    right: 0;

    width: 100%;

    height: 330px;

    z-index: 3;

    transform: translateZ(0);

    /*transform: rotate(180deg);*/

}

.svg_down {

    position: absolute;

    top: 0;

    transform: rotate(180deg);

}

.svg_down_top {

    position: absolute;

    transform: rotate(180deg);

        margin-top: -155px;

}

.tireles_svg_up[data-position=top] {

    top: -1px;

    bottom: auto

}



.tireles_svg_up[data-position=top] {

    transform: rotate(180deg)

}



.tireles_svg_up[data-front=true] {

    z-index: 50

}



.tireles_svg_up[data-style=curve] .nectar-shape-divider {

    filter: blur(.5px);

    transform: scale(1.03)

}



.tireles_svg_up[data-style=waves_opacity] svg path:first-child {

    opacity: .6

}



@media only screen and (min-width:1000px) {

    .tireles_svg_up[data-style=clouds] .nectar-shape-divider {

        min-width: 1700px

    }

}



@media only screen and (max-width:1000px) {

    .tireles_svg_up[data-style=clouds] .nectar-shape-divider {

        min-width: 800px

    }

}



@media only screen and (max-width:690px) {

    .tireles_svg_up[data-style=clouds] .nectar-shape-divider {

        min-width: 690px

    }

}



.tireles_svg_up[data-style=fan] svg {

    width: 102%;

    left: -1%

}



.tireles_svg_up[data-style=mountains] svg path:first-child {

    opacity: .1

}



.tireles_svg_up[data-style=mountains] svg path:nth-child(2) {

    opacity: .12

}



.tireles_svg_up[data-style=mountains] svg path:nth-child(3) {

    opacity: .18

}



.tireles_svg_up[data-style=mountains] svg path:nth-child(4) {

    opacity: .33

}



.tireles_svg_up[data-style=curve_opacity] svg path:nth-child(1),

.tireles_svg_up[data-style=waves_opacity_alt] svg path:nth-child(1) {

    opacity: .65

}



.tireles_svg_up[data-style=curve_opacity] svg path:nth-child(2),

.tireles_svg_up[data-style=waves_opacity_alt] svg path:nth-child(2) {

    opacity: .3

}



.nectar-shape-divider {

    width: 100%;

    left: 0;

    bottom: -1px;

    height: 100%;

    position: absolute

}



@media only screen and (max-width:1000px) {

    .tireles_svg_up:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 75%

    }

    .tireles_svg_up[data-style=clouds]:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 55%

    }

}



@media only screen and (max-width:690px) {

    .tireles_svg_up:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 33%

    }

    .tireles_svg_up[data-style=clouds]:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 33%

    }

}

/*top svg*/



.tireles_svg_top {

   /*position: absolute;*/

    width: 100%;

    height: 150px;

    z-index: 3;

    transform: translateZ(0)

}



.tireles_svg_top[data-position=top] {

    top: -1px;

    bottom: auto

}



.tireles_svg_top[data-position=top] {

    transform: rotate(180deg)

}



.tireles_svg_top[data-front=true] {

    z-index: 50

}



.tireles_svg_top[data-style=curve] .nectar-shape-divider {

    filter: blur(.5px);

    transform: scale(1.03)

}



.tireles_svg_top[data-style=waves_opacity] svg path:first-child {

    opacity: .6

}



@media only screen and (min-width:1000px) {

    .tireles_svg_top[data-style=clouds] .nectar-shape-divider {

        min-width: 1700px

    }

}



@media only screen and (max-width:1000px) {

    .tireles_svg_top[data-style=clouds] .nectar-shape-divider {

        min-width: 800px

    }

}



@media only screen and (max-width:690px) {

    .tireles_svg_top[data-style=clouds] .nectar-shape-divider {

        min-width: 690px

    }

}



.tireles_svg_top[data-style=fan] svg {

    width: 102%;

    left: -1%

}



.tireles_svg_top[data-style=mountains] svg path:first-child {

    opacity: .1

}



.tireles_svg_top[data-style=mountains] svg path:nth-child(2) {

    opacity: .12

}



.tireles_svg_top[data-style=mountains] svg path:nth-child(3) {

    opacity: .18

}



.tireles_svg_top[data-style=mountains] svg path:nth-child(4) {

    opacity: .33

}



.tireles_svg_top[data-style=curve_opacity] svg path:nth-child(1),

.tireles_svg_top[data-style=waves_opacity_alt] svg path:nth-child(1) {

    opacity: .15

}



.tireles_svg_top[data-style=curve_opacity] svg path:nth-child(2),

.tireles_svg_top[data-style=waves_opacity_alt] svg path:nth-child(2) {

    opacity: .3

}



.nectar-shape-divider {

    width: 100%;

    left: 0;

    bottom: -1px;

    height: 100%;

    position: absolute

}



@media only screen and (max-width:1000px) {

    .tireles_svg_top:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 75%

    }

    .tireles_svg_top[data-style=clouds]:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 55%

    }

}



@media only screen and (max-width:690px) {

    .tireles_svg_top:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 33%

    }

    .tireles_svg_top[data-style=clouds]:not([data-using-percent-val=true]) .nectar-shape-divider {

        height: 33%

    }

}





.m-intro {

  text-align: center;

  display: flex;

  align-items: center;

  justify-content: center;

  height: 100%;

  margin: 0 auto;

  min-width: 785px;

  overflow: hidden;

  position: relative;

}

.m-intro:before, .m-intro:after {

  display: block;

  content: " ";

  width: 2560px;

  height: 2560px;

  position: absolute;

  margin-top: -1280px;

  margin-left: -1280px;

  transform-origin: center;

  background-position: center;

  background-repeat: no-repeat;

  z-index: 50;

  top: 50%;

  left: 50%;

}

.m-intro:before {

  background-image: url("images/tire_inner.png");

  background-size: 100% auto;

  -webkit-animation: rotate 30s infinite linear;

  -moz-animation: rotate 30s infinite linear;

  -o-animation: rotate 30s infinite linear;

  animation: rotate 30s infinite linear;

}

.m-intro:after {

  background-image: url("images/tire_outer.png");

  background-size: 100% auto;

  -webkit-animation: rotate 80s infinite linear;

  -moz-animation: rotate 80s infinite linear;

  -o-animation: rotate 80s infinite linear;

  animation: rotate 80s infinite linear;

}

.m-intro .e-text {

  width: 785px;

  position: relative;

  z-index: 100;

}

.m-intro .e-text h1 {

  margin: 0;

  text-transform: uppercase;

  font-size: 55px;

  line-height: 180px;

  border-top: 1px solid #fff;

  border-bottom: 1px solid #fff;

  margin: 30px 0;

  position: relative;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #fff;

}

@supports (-webkit-background-clip: text) {

  .m-intro .e-text h1 {

    background: #17202a99;

  }

}

.m-intro .e-text .subtitle {

  font-weight: 600;

  text-transform: uppercase;

}

.m-intro .e-text .preamble {

  max-width: 80%;

  display: block;

  margin: 0 auto;

}



.e-particles-orange {

  position: absolute;

  border-radius: 50%;

  top: 50%;

  left: 50%;

  z-index: 5;

  width: 1000px;

  height: 600px;

  opacity: 0.4;

  transform: translate(-50%, -50%);

}



.e-particles-blue {

  position: absolute;

  top: 0%;

  left: 0%;

  z-index: 5;

  width: 100%;

  height: 100%;

  opacity: 0.1;

}

/*end*/

/* ---- particles.js container ---- */



#particles-js {

    position: absolute;

    width: 100%;

    background-image: url(svg.css);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: 50% 50%;

    z-index: 999;

}





/* ---- stats.js ---- */



.count-particles {

    background: #000022;

    position: absolute;

    top: 48px;

    left: 0;

    width: 80px;

    color: #13E8E9;

    font-size: .8em;

    text-align: left;

    text-indent: 4px;

    line-height: 14px;

    padding-bottom: 2px;

    font-weight: bold;

}



.js-count-particles {

    font-size: 1.1em;

}



#stats,.count-particles {

    -webkit-user-select: none;

    margin-top: 5px;

    margin-left: 5px;

}



#stats {

    border-radius: 3px 3px 0 0;

    overflow: hidden;

}



.count-particles {

    border-radius: 0 0 3px 3px;

}


.tire_btn{
    background: linear-gradient(125deg,#333333,#000000);
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0;
    }
.tire_btn span{
   -webkit-transform: translateX(18px);
    transform: translateX(18px);
}
.tire_btn:hover{background: #ffc844;color: #000}

.bird_1{background-color: #000;}
.bird_1 .bird_ser{transition: 1s all;text-align: center;}
.bird_1 .bird_ser:first-child{text-align: left;}
.bird_1 .bird_ser:first-child:hover{background:transparent;}
.bird_1 .bird_ser:hover{background: linear-gradient(to bottom right,#ff1053,#3452ff);border-radius: 8px;}
.bird_1 .bird_ser{color: #f5f5f5}
.bird_1 .bird_ser .mbr-iconfont{font-size: 50px;margin-bottom: 20px;color: #ffc844}
.bird_1 .bird_ser h4{margin: 15px 0}
.bird_1 .bird_ser p{font-size: 12px}

.tireless_2 .capabilities{padding-top: 200px;padding-bottom: 50px}
.tireless_2{background-color: #fff;}
.tireless_2 .bird_ser{transition:background-color 1s ease-out;background: linear-gradient(to bottom right,#fff,#fff);text-align: center;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.tireless_2 .bird_ser:nth-child(2){border-right: none;}
.tireless_2 .bird_ser:nth-child(3){border-bottom: none;}
.tireless_2 .bird_ser:last-child{border-right: none;border-bottom: none}
.tireless_2 .bird_ser:hover{background: linear-gradient(to bottom right,#ff1053,#3452ff);color: #fff}
.tireless_2 .bird_ser{}
.tireless_2 .bird_ser .mbr-iconfont{font-size: 50px;margin-bottom: 20px;}
.tireless_2 .bird_ser h4{margin: 15px 0}
.tireless_2 .bird_ser p{font-size: 12px}

.my_shape {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateZ(0);
    height:400px;z-index: 999
}
.nectar-shape-divider {
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 100%;
    position: absolute;
}
.my_shape[data-style="curve_opacity"] svg path:nth-child(1), .my_shape[data-style="waves_opacity_alt"] svg path:nth-child(1) {
    opacity: 0.15;
}
.my_shape[data-style="curve_opacity"] svg path:nth-child(2), .my_shape[data-style="waves_opacity_alt"] svg path:nth-child(2) {
    opacity: 0.3;
}




.my_shape[data-front="true"] {
    z-index: 50;
    pointer-events: none;
}

.my_shape[data-front="true"] {
    z-index: 50;
}
/*.my_shape {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    z-index: 3;
    transform: translateZ(0);
}*/

.my_shape[data-style="mountains"] svg path:first-child {
    opacity: 0.1;
}
.my_shape[data-style="mountains"] svg path:nth-child(2) {
    opacity: 0.12;
}
.my_shape[data-style="mountains"] svg path:nth-child(3) {
    opacity: 0.18;
}
.my_shape[data-style="mountains"] svg path:nth-child(4) {
    opacity: 0.33;
}

.logos_clutch{margin-bottom: 40px;text-align: center;}
.logos_clutch img{width: 90%}
.m-intro .e-text h1 {
    text-transform: uppercase;
    font-size: 55px;
    line-height: 100px;
    border-top: none;
    border-bottom: none;
    margin: 0;
    position: relative;
        background: none;
}
.m-intro .e-text h1:after{
    content: "";
    position: absolute;
    border: 1px solid #fff;
    width: 200px;
    bottom: 0;
    left: 40%;
    }
    .m-intro .e-text {
    width: 920px;
}
.body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    background: linear-gradient(125deg,#13b1cd,#0c2b59);
}
.m-intro:before,.m-intro:after{background-image: none;}
#particles-js{z-index: 99;}
.cid-rkLEVQRnwo {
    padding-top: 0px;
    padding-bottom: 0px;
}
.cid-rm0tk52xKn {
    background-color: #2d3742;
    padding: 100px 0;
    color: #fff;
}
.cid-rm0tk52xKn .svg_down{top: inherit;bottom: -300px;}
.cid-rm0tk52xKn .carousel-controls a span {
    top: 30px;
    padding: 10px;
    border-radius: 0%;
    opacity: .5;
    font-size: 16px;
    font-weight: bold;
}
/*mobile responsive*/
@media (max-width: 920px){
.body{height: 55vh}
.my_shape{height: 112px;
    top: 306px;
    bottom: auto;
    display: none;
    }
.my_shape svg path{display: none;}
.my_shape svg path:last-child{display: block;}
.m-intro .e-text h1 {
    font-size: 30px;
    line-height: 60px
    }
    .m-intro{min-width: 100%}
}
@media (max-width: 768px){
.body{height: 55vh}
.my_shape{height: 112px;
    top: 306px;
    bottom: auto;
    }
   .m-intro .e-text h1:after {
       left: 30%;
   }
}

@media (max-width: 520px){
   .body {
    padding-top:40px; 
}
.my_shape{height: 112px;
    top: 190px;
    bottom: auto;
    }
   .m-intro .e-text h1 {
    font-size: 15px;
}
.m-intro .e-text h1:after {
   border: none;
    border-top: 1px solid #fff;
    width: 125px;
}
.m-intro .e-text {padding: 0 10px;}
.e-text span{font-size: 11px}
.g-font-size-32--xs {
    font-size: 1.5rem !important;
}
.g-margin-b-100--xs {
    margin-bottom: 2.25rem;
}

}
